/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 700px;
  background: url('/content/images/assistant.png') no-repeat center top;
  background-size: contain;
}
